body, html {
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'IM Fell English SC', serif;
}

button {
	font-family: 'IM Fell English SC', serif;
}

body {
	background-image: url('../images/sayagata-400px.png');
	background-repeat: repeat;
}

.answer {
	display: table;
	padding: 5px;
}

.answer:hover {
	cursor: pointer;
	border: 1px solid purple;
	background: white;
}

.question-graphic {
	width: 300px;
}

#main-title {
	padding: 20px;
	color: white;
	background-color: white;
	background-image: url('../images/decemberists-collage-1.jpg');
	background-size: 100%;
}

#main-content-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 400px;
}

#start-game-btn {
	font-size: 2em;
}

#wrapper {
	background-image: url('../images/content-background-1.jpg');
	background-size: cover;
}